@use "@angular/material" as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html {
  height: 100%;
}

:root {
  // --primary-color: #{mat.m2-get-color-from-palette($my-primary)};
  // --primary-color-light: #{mat.m2-get-color-from-palette($my-primary, 50)};
  // --accent-color: #{mat.m2-get-color-from-palette($my-accent)};
  // --warn-color: #{mat.m2-get-color-from-palette($my-warn)};
}
