@use "@angular/material" as mat;
@use "./styles/theme.scss";
@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
}

html,
th,
span {
  font-size: 110% !important;
}

:root {
  --mat-card-outlined-container-shape: 12px;
}

html,
body {
  width: auto;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

// .mat-mdc-unelevated-button {
//   border-radius: 25px !important;
// }

mat-dialog-actions {
  display: flex !important;
  justify-content: flex-end !important;
}

.mdc-button {
  --mat-button-filled-container-height: 42px;
}

// Taiwindcss - Angular material fixes
.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}
