@use '@angular/material' as mat;
@use "./styles/theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
}

 
:root{
  --mdc-outlined-card-container-shape:12px;
}

html,body{
  width: auto;
  height: 100%
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 
.mat-mdc-unelevated-button {
    border-radius: 25px !important;
  }

  mat-dialog-actions{
    display: flex !important;
    justify-content: flex-end !important;
  }
 