@use "@angular/material" as mat;
@use "./styles/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand, "Helvetica Neue", sans-serif;
}

html,
th,
span {
  font-size: 110% !important;
}

:root {
  --mdc-outlined-card-container-shape: 12px;
}

html,
body {
  width: auto;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

// .mat-mdc-unelevated-button {
//   border-radius: 25px !important;
// }

mat-dialog-actions {
  display: flex !important;
  justify-content: flex-end !important;
}

.mdc-button {
  --mdc-filled-button-container-height: 42px;
}
